
<style type="text/css">
	.preguntas{
		color:#470914;
		font-size: 20px;
		text-align: left;
	}

	.editar,button,.eliminar{
		border:solid #2d959e 2px;
		color: #04252e;
		height: 28px;
		margin-right: 60%;
		width: 100px;
	}

	.eliminar{
		border: solid red 2px;
		margin-top:4px;
	}

	button{
	border: solid green 2px;
	}

</style>

<p class="preguntas"><strong>Instrucciones: </strong>para comenzar a jugar haga clic en alguna de las siguientes preguntas:</p><br>

<table>
<% var i; for(i=0; i < quizes.length; i++){%>
	<tr>
	<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %>&nbsp &nbsp</a></td>
	<%if(session.user){%>
		<td><a href="quizes/<%= quizes[i].id %>/edit"><button class="editar">Editar</button></a></td>
		
		<td>
			<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
			<button class="eliminar" type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta%>');">Eliminar</button>
			</form>
		</td>
		<%}%>
	</tr>
<% } %>

</table>

<%if(session.user){%>
<a href="/quizes/new"><button type="button">Añadir pregunta</button></a>
<%}%>